{% extends "bootstrap/base.html" %}

{% block title %}
Demo App
{% endblock %}

{% block styles %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Top 10 most produced crops in next few days for the given area 50 sq</h1>
        <p class="lead">Graph Indicates the production of crops for next ten days </p>
      </div>

    </div><!-- /.container -->
      <div class="container">
        <canvas id="myChart" width="800" height="500"></canvas>

            </div>

    <script>
      var ctx = document.getElementById("myChart").getContext("2d")
  var lineChart = new Chart(ctx,{
                        type: "bar",
                        data: {
                            labels : {{ labels | safe }},
                            datasets:[{
                            label: "production",
                            data : {{data | safe }}

                            }]
                           },
                    options: {
                    responsive: false,
                    scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero:true,
                                        max: 100
                                    }
                                }]
                            }
                   }
                  });
</script>
    </script>
{% endblock %}